<div class = "well">
  <h3>Register as a Buyer</h3>
  <%= form_for @buyer, url: {action: "create"} do |e| %>
      <%= render partial: "usr_buyer/form", locals: {:f => e} %>

      <%= e.submit "Save", class: "btn-block btn-primary" %>
  <% end %>
</div>

